/*paleta de cores
#c4a47c
#fff
#000000
#604829
#666
#ACACAC


.topo{
    width: 100%;
    background-color:#604829 ;
   
}



*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.topo{
    width: 100%;
    background-color: #604829;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 50px ;
    position: fixed;
    z-index: 1;
   
}
.topo p .link{
    font-family: 'oswald';
    font-size: 18px;
    color: #c4a47c;
    text-shadow: 4px 3px black;
    
    
    
}
.topo img{
    width: 60px;
    margin-left: 30px;
}

.banner{
    background-image: url(img/parallax-imagem1.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
   

}
.banner h1{
   position: absolute;
   top: 360px;
   right: 220px;
   font-size: 70px;
   color: #fff;
   font-family: 'Fraunces';
}

.informacoes {
    text-align: center; 
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
.informacoes .texto h2{
    font-family: 'Oswald';
    font-size: 18px;
    color:#c4a47c ;
    margin-top: 40px;
    margin-bottom: 40px;
}
.informacoes .texto p{
    line-height: 28px;
    font-family: 'Lato';
    margin-bottom: 60px;
    width:100%;
    padding: 30px;
   margin-left: auto;
   margin-right: auto;
    max-width: 1024px;
    
}

.imagem1{
    background-image: url(img/parallax-imagem2.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    position: relative;
    background-attachment: fixed;
  
    
}
.imagem1 h3{
    position: absolute;
    right: 548px;
    bottom: 250px;
    font-size: 24px;
    background-color:#604829 ;
    padding: 8px;
    color: #fff;
    font-family: 'Fraunces';
}

.imagem2{
    background-image: url(img/parallax-imagem3.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    position: relative;
    background-attachment: fixed;
  
    
}
.imagem2 h3{
    position: absolute;
    right: 548px;
    bottom: 250px;
    font-size: 24px;
    background-color:#604829 ;
    padding: 8px;
    color: #fff;
    font-family: 'Fraunces';
}

.contatos {
    background-image: url('img/parallax-imagem4.png'); /* imagem de fundo da cafeteria */
    background-size: cover;
    background-position: center;
   
    text-align: center;
    padding-top: 60px;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    background-attachment: fixed;
    
}

.contatos h2 {
    background-color: #5a442a;
    color: white;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.contatos .iframe {
    width: 90%;
    max-width: 800px;
    height: 400px;
    border: 3px solid #444;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.tel {
    background-color: #4e3a1e;
    color: white;
    display: inline-block;
    padding: 25px 30px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}


.horarios{
    background-image: url(img/cafeteria.jpg);
    width: 100%;
    background-size: cover;
    height: 85vh;
    position:relative;
    background-attachment: fixed;
  
    
}
.lista li div{
    width: 70%;
    height: 1px;
    background-color: #acacac;
}

.horarios .lista{
    color: #fff ;
    width: 768px ;
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;

}

.horarios h2{
    color: white;
    margin-top: 20px;
    position: absolute;
    margin-left: 500px;
    
}
.horarios h3{
 position: absolute;
 left: 10px;
}
.horarios p{
   position: absolute;
   right: 30px;
}


.horarios .lista span{
    color:#c4a47c ;
    position: absolute;
    right: 30px;
}


.rodape{
    background-color: black;
    text-align: center;
    position: relative;
}
.rodape p{
  color: white;
}

.rodape a{
    position: absolute;
    right: 20px;
    background-color:#c4a47c ;
    bottom: 20px;
    font-size: 10px;
}
























